<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
 <mapper namespace="com.daogukeji.dapeng.dao.Status_dg_DAO">
 	
 	<insert id="addStatus_dg" parameterType="com.daogukeji.dapeng.entity.Dapeng_1_Status_DiGuan">
 		INSERT INTO dapeng_1_status_dg    (
 									state_diguan
 								)
 					VALUES(#{state_diguan})
 	</insert>
 	
 	<select id="findStatus_dg" resultType="com.daogukeji.dapeng.entity.Dapeng_1_Status_DiGuan">
 		SELECT * FROM dapeng_1_status_dg     WHERE id = (SELECT MAX(id) FROM dapeng_1_status_dg    )
 	</select>
 </mapper>
 